.hero{
    min-height: 85vh;
    background:  linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.72)), url('https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 100px 15px;
}
.hero .hero__info{
    margin-top: 200px;
    max-width: 858px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero .hero__info h1{
    font-size: 1.875rem;
    font-size: clamp(1.875rem, 1.2147887323943662rem + 2.112676056338028vw, 3.75rem);
    font-weight: 700;
    line-height: clamp(2.1875rem, 1.3598151408450705rem + 2.648591549295775vw, 4.538125rem);
    text-align: center;
    color: white;
}
.hero .hero__info p{
    font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
     max-width: 660px;
    font-weight: 300;
    line-height: 34.2px;
    text-align: center;
    color: white;
}
.hero .hero__info .hero__btn a{
         padding: 15px 35px;
        background: #F1A332;
        border-radius: 10px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
}
.hero .hero__info .hero__btn a:hover{
    color: white;
}