.offers{
      padding: 100px 15px;
}
.offers .container{
         display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
}
.offers .offers__title h1{
    font-weight: 700;
   font-size: clamp(1.875rem, 1.289rem + 1.563vw, 2.5rem);
    line-height: 48.41px;
    color: #173C6D;
    text-align: left;
    margin-bottom: 20px;
}
.offers .offers__title p{
    font-weight: 400;
    font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
    line-height: 22.4px;
    text-align: left;
    margin-bottom: 60px;
}
.offers .offers__offers{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.offers .offers__offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 153px;
    /* width: 213px; */
}
.offers .offers__offer .offers__offer-icon{
    height: 60px;
    width: 60px;
    background: rgba(241, 163, 50, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.offers .offers__offer h2{
    font-weight: 600;
    font-size: clamp(1.25rem, 1.367rem + -0.313vw, 1.125rem);
    line-height: 24px;
    color: #173C6D;

}
.offers .offers__offer p{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 144.02%;
/* or 20px */
color: rgba(0, 0, 0, 0.7);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
      .offers .offers__offers{
    flex-direction: column;
    gap: 20px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .offers .offers__offers{
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}