.accordion-item{
    padding: 20px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.accordion-item .accordion-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 500;
     font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
    line-height: 144.02%;
    color: #173C6D;
    text-transform: capitalize;
}
.accordion-item .accordion-content{
    margin-top: 10px;
    font-weight: 400;
    font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
    line-height: 144.02%;
}
.accordion-content ol{
    margin-bottom: 20px;
    list-style: square;
    padding: 0 15px;
}
.accordion-content li{
    padding: 5px;
    text-indent:  5px;
}