.banner{
    background: #173c6d;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .container a{
   color: white;
   font-weight: 600;
  font-size: clamp(1rem, 0.766rem + 0.625vw, 1.25rem);
   line-height: 28.8px;
}
.banner .container a:hover{
    text-decoration: underline;
}