.service-hero{
    background: rgba(23, 60, 109, 0.05);
    padding: 100px;
}
.service-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 477px;
    gap: 30px;
}
.service-hero .container .service-hero__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 729px;
    height: 261px;
}
.service-hero .container .service-hero__info h1{
    width: 634px;
height: 146px;
font-weight: 700;
font-size: 60px;
line-height: 73px;
text-align: center;
color: #173C6D;
}
.service-hero .container .service-hero__info p{
    width: 729px;
height: 100px;
font-weight: 400;
font-size: 18px;
line-height: 190.52%;
text-align: center;
color: #173C6D;
}
