.service-hero{
    background: rgba(23, 60, 109, 0.05);
    padding: 100px 15px;
}
.service-hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 477px;
}
.service-hero .container .service-hero__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
}
.service-hero .container .service-hero__info h1{
max-width: 634px;
 font-size: 1.875rem;
font-size: clamp(1.875rem, 1.2147887323943662rem + 2.112676056338028vw, 3.75rem);
    font-weight: 700;
    line-height: clamp(2.1875rem, 1.3598151408450705rem + 2.648591549295775vw, 4.538125rem);
    text-align: center;
    color: white;
text-align: center;
color: #173C6D;
}
.service-hero .container .service-hero__info p{
max-width: 729px;
font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
font-weight: 400;
line-height: 190.52%;
text-align: center;
color: #173C6D;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   .service-hero .container .service-hero__info h1{
    width: 100%;
   }
   .service-hero .container .service-hero__info p{
    width: 100%;
   }
}