.gallery-menu{

}
.gallery-menu .container{
    height: 814.89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-menu .gallery-menu__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.gallery-menu .gallery-menu__info h1{
 width: 660px;
height: 48px;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #173C6D;
}
.gallery-menu .gallery-menu__info p{
width: 538px;
height: 46px;
font-weight: 400;
font-size: 16px;
line-height: 144.02%;
/* or 23px */
text-align: center;
color: rgba(0, 0, 0, 0.7);
}

.gallery-menu .gallery-menu__photos{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
}
