@import "reset.css";
@import "./LayoutUI/header.css";
@import "./LayoutUI/banner.css";
@import "./LayoutUI/mobile-menu.css";
@import "./LayoutUI/accordian.css";
@import "./LayoutUI/footer.css";
@import "./homePage/hero.css";
@import "plugins.css";
@import "./homePage/offer.css";
@import "./homePage/info.css";
@import "./homePage/faq.css";
@import "./homePage/gallery-menu.css";
@import "testimonials.css";
@import "./homePage/contact.css";
@import "./aboutPage/about-hero.css";
@import "./aboutPage/about.css";
@import "./aboutPage/about-video.css";
@import "./aboutPage/about-team.css";
@import "./servicePage/service-hero.css";
@import "./servicePage/service-services.css";
@import "book-online.css";
@import "./LayoutUI/forms.css";
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --main-color: #12141d;
  --font-family: 'Inter', sans-serif;
}
.container{
  max-width: 1366px;
  margin: 0 auto;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  background-color: #fff;
  color: var(--main-color);
}
.empty-box{
  background: rgba(241, 163, 50, 0.1);
  height: 100vh;
}
.book-btn {
       padding: 15px 35px;
        background: #F1A332;
        border-radius: 10px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
}
.book-btn  a:hover{
    color: white;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 24px;

  /* Colors */
  --color-white: #fff;
  --secondary-colour-synco: #173c6d;
  --gray-1: #333;
  --color-gray-300: #0c0c0c;
  --color-gray-400: rgba(23, 60, 109, 0.5);
  --color-gray-500: rgba(0, 0, 0, 0.7);
  --color-gray-600: rgba(23, 60, 109, 0.3);
  --color-black: #000;
  --color-orange: #f1a332;

  /* Gaps */
  --gap-3xs: 5px;
  --gap-2xs: 8px;
  --gap-xs: 10px;
  --gap-sm: 14px;
  --gap-md: 15px;
  --gap-lg: 16px;
  --gap-xl: 20px;
  --gap-2xl: 30px;

  /* Paddings */
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 50px;

  /* border radiuses */
  --br-md: 10px;
}
