.about-video{
    padding: 100px 0;
}
.about-video .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.about-video .container h1{
    width: 725px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    color: #173C6D;
}
.about-video .container .about-video__video iframe{
    height: 666px;
    width: 100%;
}