.about-video{
    padding: 100px 15px;
}
.about-video .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.about-video .container h1{
    font-weight: 700;
    font-size: clamp(1.875rem, 1.289rem + 1.563vw, 2.5rem);
    line-height: 48px;
    text-align: left;
    color: #173C6D;
}
.about-video .container .about-video__video iframe{
    height: clamp(300px,60vw,666px);
    width: 100%;
}
