.about-hero{
    background: #173C6D;
    padding: 100px 15px;

}
.about-hero .container{
   display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 10px;
}
.about-hero .container .about-hero__left{
    display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
width: 100%;
gap: 30px;
height: auto;
}
.about-hero .container .about-hero__left h1{
width: 100%;
 font-size: 1.875rem;
    font-size: clamp(1.875rem, 1.2147887323943662rem + 2.112676056338028vw, 3.75rem);
    font-weight: 700;
    line-height: clamp(2.1875rem, 1.3598151408450705rem + 2.648591549295775vw, 4.538125rem);
    text-align: left;
    color: white;
}
.about-hero .container .about-hero__left p{
 width: 100%;
font-weight: 400;
font-size: clamp(1rem, 0.883rem + 0.313vw, 1.125rem);
line-height: 190.52%;
/* or 34px */
color: #FFFFFF;
}
.about-hero .container .about-hero__right img{
max-width: 549px;
max-height: 414px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
     .about-hero .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .about-hero .container .about-hero__left{
        text-align: center;
    }
     .about-hero .container .about-hero__left h1{
     }
     .about-hero .container .about-hero__left p{
     }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}